<footer class="art-footer">
  <!-- begin nostyle -->
  <div class="art-nostyle">
    <!-- begin nostyle content -->
    <div class="custom">
      <p style="font-size: 14px; text-align: center;">630 MASSACHUSETTS AVENUE &nbsp; ♦&nbsp;&nbsp; ARLINGTON, MASSACHUSETTS 02476 &nbsp; ♦&nbsp;&nbsp; 781-648-3799</p>
      <p style="font-size: 14px; text-align: center;">Copyright 2017 First Parish Unitarian Universalist of Arlington</p>
      <p style="font-size: 14px; text-align: center;"><span style="color: #0000ff;"><a href="index.php/component/users/index015e.html?view=login"><span style="color: #0000ff;">Editor log-in &amp; log-out</span></a></span></p>
    </div><!-- end nostyle content -->
  </div><!-- end nostyle -->
</footer>
