<header class="art-header">
  <div class="art-shapes"></div>
</header>
<nav class="art-nav">
  <div class="art-nav-inner">
    <ul class="art-hmenu">
      <li class="item-435 current active">
        <a class=" active" href="index-2.html">Home</a>
      </li>
      <li class="item-497 deeper parent">
        <a href="index.php/newcomers.html">Newcomers</a>
        <ul>
          <li class="item-659">
            <a href="index.php/newcomers/your-first-visit.html">Your First Visit</a>
          </li>
          <li class="item-1284">
            <a href="index.php/newcomers/history-of-first-parish.html">History of First Parish</a>
          </li>
          <li class="item-500 deeper parent">
            <a href="index.php/newcomers/uu.html">About Unitarian Universalism</a>
            <ul>
              <li class="item-744">
                <a href="index.php/newcomers/uu/what-we-believe.html">What We Believe</a>
              </li>
            </ul>
          </li>
          <li class="item-499 deeper parent">
            <a href="index.php/newcomers/membership.html">Path to Membership</a>
            <ul>
              <li class="item-998">
                <a href="index.php/newcomers/membership/new-uu-class.html">New UU Class</a>
              </li>
            </ul>
          </li>
          <li class="item-549">
            <a href="index.php/newcomers/our-location.html">Our Location</a>
          </li>
          <li class="item-554">
            <a href="http://firstparish.info/index.php/staff-and-contacts">Contact Us</a>
          </li>
        </ul>
      </li>
      <li class="item-535 deeper parent">
        <a href="index.php/news-and-events.html">News and<br>
        Events<br></a>
        <ul>
          <li class="item-538 deeper parent">
            <a href="index.php/news-and-events/e-bulletin.html">The E-Bulletin</a>
            <ul>
              <li class="item-826">
                <a href="index.php/news-and-events/e-bulletin/fully-displayed-text-e-bulletin.html">Fully Displayed Text E-Bulletin</a>
              </li>
              <li class="item-1038">
                <a href="index.php/news-and-events/e-bulletin/e-bulletin-archive.html">E-Bulletin Archive</a>
              </li>
            </ul>
          </li>
          <li class="item-936 deeper parent">
            <a href="index.php/news-and-events/ferry-beach.html">Ferry Beach 2017</a>
            <ul>
              <li class="item-997">
                <a href="index.php/news-and-events/ferry-beach/ferry-beach-pricing-and-accommodations.html">Pricing and Accommodations</a>
              </li>
              <li class="item-937">
                <a href="index.php/news-and-events/ferry-beach/ferry-beach-registration-form.html">Ferry Beach Registration Form</a>
              </li>
              <li class="item-943">
                <a href="index.php/news-and-events/ferry-beach/youth-permission-form.html">Sponsored Youth Permission Form</a>
              </li>
              <li class="item-944">
                <a href="index.php/news-and-events/ferry-beach/ferry-beach-guidelines.html">Ferry Beach Guidelines</a>
              </li>
              <li class="item-945">
                <a href="index.php/news-and-events/ferry-beach/ferry-beach-covenant.html">Ferry Beach Covenant</a>
              </li>
              <li class="item-995">
                <a href="index.php/news-and-events/ferry-beach/ferry-beach-nearby-motels.html">Ferry Beach Nearby Motels</a>
              </li>
            </ul>
          </li>
          <li class="item-1159 deeper parent">
            <a href="index.php/news-and-events/job-openings.html">Job Openings</a>
            <ul>
              <li class="item-1299">
                <a href="index.php/news-and-events/job-openings/sexton.html">Sexton</a>
              </li>
            </ul>
          </li>
          <li class="item-543">
            <a href="index.php/news-and-events/calendar.html">Calendar</a>
          </li>
          <li class="item-545">
            <a href="index.php/news-and-events/annual-events.html">Annual Events</a>
          </li>
          <li class="item-607 deeper parent">
            <a href="index.php/news-and-events/the-spire.html">The Monthly Spire</a>
            <ul>
              <li class="item-627">
                <a href="index.php/news-and-events/the-spire/lives-we-share.html">Lives We Share</a>
              </li>
              <li class="item-714">
                <a href="index.php/news-and-events/the-spire/spire-archive.html">Spire Archive</a>
              </li>
            </ul>
          </li>
          <li class="item-1043 deeper parent">
            <a href="index.php/news-and-events/external-news-feeds">External News Feeds</a>
            <ul>
              <li class="item-1044">
                <a href="index.php/news-and-events/external-news-feeds/uu-news-stories.html">UU News Stories</a>
              </li>
              <li class="item-1045">
                <a href="index.php/news-and-events/external-news-feeds/uu-mass-action-news-stories.html">UU Mass Action News Stories</a>
              </li>
            </ul>
          </li>
          <li class="item-1254">
            <a href="index.php/news-and-events/women-s-march.html">Women's March</a>
          </li>
        </ul>
      </li>
      <li class="item-492 deeper parent">
        <a href="index.php/worship-music.html">Worship and<br>
        Music<br></a>
        <ul>
          <li class="item-608 deeper parent">
            <a href="index.php/worship-music/services.html">Worship Services</a>
            <ul>
              <li class="item-581 parent">
                <a href="index.php/worship-music/services/spoken-memorials.html">Spoken Memorials</a>
              </li>
              <li class="item-748">
                <a href="index.php/worship-music/services/sunday-flowers-sign-up.html">Sunday Flowers Sign-Up</a>
              </li>
            </ul>
          </li>
          <li class="item-609 deeper parent">
            <a href="index.php/worship-music/music.html">Music</a>
            <ul>
              <li class="item-1001">
                <a href="index.php/worship-music/music/music-staff.html">Music Staff</a>
              </li>
              <li class="item-976">
                <a href="index.php/worship-music/music/children-s-choir.html">Children's Choir</a>
              </li>
              <li class="item-496">
                <a href="index.php/worship-music/music/musicgroups.html">Music Groups</a>
              </li>
              <li class="item-849">
                <a href="index.php/worship-music/music/music-centered-services.html">Music-Centered Services</a>
              </li>
              <li class="item-655">
                <a href="index.php/worship-music/music/musical-instruments.html">Musical Instruments</a>
              </li>
              <li class="item-657 parent">
                <a href="index.php/worship-music/music/musicians-list.html">Musicians List</a>
              </li>
              <li class="item-682 parent">
                <a href="index.php/worship-music/music/musical-connections.html">Musical Connections</a>
              </li>
              <li class="item-660 parent">
                <a href="index.php/worship-music/music/music-history.html">History of the Music Program</a>
              </li>
              <li class="item-925 parent">
                <a href="index.php/worship-music/music/music-trips.html">Music Trips</a>
              </li>
            </ul>
          </li>
          <li class="item-649 deeper parent">
            <a href="index.php/worship-music/worship-associates.html">Worship Associates</a>
            <ul>
              <li class="item-650">
                <a href="index.php/worship-music/worship-associates/worship-associates-application.html">Worship Associates Application</a>
              </li>
              <li class="item-1031">
                <a href="index.php/worship-music/worship-associates/worship-associates-reference.html">Worship Associates Reference</a>
              </li>
            </ul>
          </li>
          <li class="item-610 deeper parent">
            <a href="index.php/worship-music/sermons.html">Sermons</a>
            <ul>
              <li class="item-752 parent">
                <a href="index.php/worship-music/sermons/sermon-archive.html">Sermon Archive</a>
              </li>
            </ul>
          </li>
          <li class="item-798">
            <a href="index.php/worship-music/first-parish-prays.html">First Parish Prays</a>
          </li>
        </ul>
      </li>
      <li class="item-479 deeper parent">
        <a href="index.php/education.html">Education</a>
        <ul>
          <li class="item-634 deeper parent">
            <a href="index.php/education/children-s-programs.html">Religious Education for Children</a>
            <ul>
              <li class="item-824">
                <a href="index.php/education/children-s-programs/re-announcements.html">This Week's RE Announcements</a>
              </li>
              <li class="item-751">
                <a href="index.php/education/children-s-programs/re-calendar.html">RE Calendar</a>
              </li>
              <li class="item-639">
                <a href="index.php/education/children-s-programs/re-curriculum.html">RE Curriculum</a>
              </li>
              <li class="item-485">
                <a href="index.php/education/children-s-programs/for-teachers.html">For RE Teachers</a>
              </li>
              <li class="item-957">
                <a href="index.php/education/children-s-programs/parent-resources.html">For Parents</a>
              </li>
              <li class="item-637">
                <a href="index.php/education/children-s-programs/our-whole-lives-owl.html">Our Whole Lives (OWL)</a>
              </li>
              <li class="item-977">
                <a href="index.php/worship-music/music/children-s-choir.html">Children's Choir</a>
              </li>
              <li class="item-636">
                <a href="index.php/education/children-s-programs/coming-of-age.html">Coming of Age</a>
              </li>
            </ul>
          </li>
          <li class="item-488 deeper parent">
            <a href="index.php/education/youth-programs.html">Youth Program</a>
            <ul>
              <li class="item-491">
                <a href="index.php/education/youth-programs/details.html">Youth Program Details</a>
              </li>
              <li class="item-825">
                <a href="index.php/education/youth-programs/this-week-s-youth-group-news.html">This Week's Youth Group News</a>
              </li>
              <li class="item-948">
                <a href="https://www.google.com/calendar/embed?src=nj3fh26o3n087nvs4i5shkf5q4@group.calendar.google.com&amp;ctz=America/New_York">Youth Group Calendar</a>
              </li>
              <li class="item-950">
                <a href="index.php/education/youth-programs/parent-meeting-information.html">Parent Meeting Information</a>
              </li>
              <li class="item-952">
                <a href="index.php/education/youth-programs/youth-group-newsletter.html">Youth Group Newsletter</a>
              </li>
            </ul>
          </li>
          <li class="item-518 deeper parent">
            <a href="index.php/education/star.html">STAR Programs (adult education)</a>
            <ul>
              <li class="item-1035">
                <a href="index.php/education/star/aging-well-within-our-community.html">Aging Well Within Our Community</a>
              </li>
              <li class="item-523">
                <a href="index.php/education/star/lectio-divina.html">Lectio Divina</a>
              </li>
            </ul>
          </li>
          <li class="item-743">
            <a href="index.php/congregationalworkings/groups-and-activities/alliance-program.html">Alliance Programs</a>
          </li>
        </ul>
      </li>
      <li class="item-603 deeper parent">
        <a href="index.php/justice.html">Social Justice</a>
        <ul>
          <li class="item-1032">
            <a href="http://www.firstparish.info/PDFDownloads/HN_SJC_Committee_Charter_FY2014.pdf">Social Justice Charter</a>
          </li>
          <li class="item-1106">
            <a href="index.php/justice/social-justice-google-group.html">Social Justice Google Group</a>
          </li>
          <li class="item-1024">
            <a href="index.php/justice/social-justice-calendar.html">Social Justice Calendar</a>
          </li>
          <li class="item-1025">
            <a href="index.php/justice/social-justice-blog/blog.html">Social Justice Blog</a>
          </li>
          <li class="item-1030">
            <a href="index.php/justice/social-justice-slideshow.html">Social Justice Slideshow</a>
          </li>
          <li class="item-632">
            <a href="index.php/justice/social-justice-committee.html">Social Justice Committee</a>
          </li>
          <li class="item-740">
            <a href="index.php/justice/social-justice-opportunities.html">Social Justice Opportunities</a>
          </li>
          <li class="item-994">
            <a href="index.php/justice/pie-palace.html">Pie Palace</a>
          </li>
          <li class="item-831">
            <a href="index.php/justice/living-our-faith.html">Living Our Faith</a>
          </li>
          <li class="item-958">
            <a href="index.php/justice/shinn-service.html">Shinn Service</a>
          </li>
          <li class="item-1283">
            <a href="index.php/justice/racial-justice-coordinating-committee.html">Racial Justice Coordinating Committee</a>
          </li>
          <li class="item-616">
            <a href="index.php/justice/green-sanctuary.html">Green Sanctuary</a>
          </li>
          <li class="item-618 deeper parent">
            <a href="index.php/justice/diversity-inclusion-group.html">Diversity/Inclusion Group</a>
            <ul>
              <li class="item-1145">
                <a href="index.php/justice/diversity-inclusion-group/dig-calendar.html">DIG Calendar</a>
              </li>
            </ul>
          </li>
          <li class="item-956">
            <a href="index.php/justice/mass-incarceration-working-group.html">Mass Incarceration Working Group</a>
          </li>
          <li class="item-688 deeper parent">
            <a href="index.php/justice/giving-first.html">Giving First</a>
            <ul>
              <li class="item-746">
                <a href="index.php/justice/giving-first/giving-first-nomination-form.html">Giving First Nomination Form</a>
              </li>
            </ul>
          </li>
          <li class="item-619">
            <a href="index.php/justice/affordable-housing.html">Affordable Housing</a>
          </li>
          <li class="item-620">
            <a href="index.php/justice/food-pantry.html">Food Pantry</a>
          </li>
          <li class="item-621">
            <a href="index.php/justice/blood-drive.html">Blood Drive</a>
          </li>
        </ul>
      </li>
      <li class="item-603 deeper parent">
        <a href="index.php/justice.html">Racial Justice</a>
        <ul>
          <li class="item-1032">
            <a href="http://www.firstparish.info/PDFDownloads/HN_SJC_Committee_Charter_FY2014.pdf">Social Justice Charter</a>
          </li>
          <li class="item-1106">
            <a href="index.php/justice/social-justice-google-group.html">Social Justice Google Group</a>
          </li>
          <li class="item-1024">
            <a href="index.php/justice/social-justice-calendar.html">Social Justice Calendar</a>
          </li>
          <li class="item-1025">
            <a href="index.php/justice/social-justice-blog/blog.html">Social Justice Blog</a>
          </li>
          <li class="item-1030">
            <a href="index.php/justice/social-justice-slideshow.html">Social Justice Slideshow</a>
          </li>
          <li class="item-632">
            <a href="index.php/justice/social-justice-committee.html">Social Justice Committee</a>
          </li>
          <li class="item-740">
            <a href="index.php/justice/social-justice-opportunities.html">Social Justice Opportunities</a>
          </li>
          <li class="item-994">
            <a href="index.php/justice/pie-palace.html">Pie Palace</a>
          </li>
          <li class="item-831">
            <a href="index.php/justice/living-our-faith.html">Living Our Faith</a>
          </li>
          <li class="item-958">
            <a href="index.php/justice/shinn-service.html">Shinn Service</a>
          </li>
          <li class="item-1283">
            <a href="index.php/justice/racial-justice-coordinating-committee.html">Racial Justice Coordinating Committee</a>
          </li>
          <li class="item-616">
            <a href="index.php/justice/green-sanctuary.html">Green Sanctuary</a>
          </li>
          <li class="item-618 deeper parent">
            <a href="index.php/justice/diversity-inclusion-group.html">Diversity/Inclusion Group</a>
            <ul>
              <li class="item-1145">
                <a href="index.php/justice/diversity-inclusion-group/dig-calendar.html">DIG Calendar</a>
              </li>
            </ul>
          </li>
          <li class="item-956">
            <a href="index.php/justice/mass-incarceration-working-group.html">Mass Incarceration Working Group</a>
          </li>
          <li class="item-688 deeper parent">
            <a href="index.php/justice/giving-first.html">Giving First</a>
            <ul>
              <li class="item-746">
                <a href="index.php/justice/giving-first/giving-first-nomination-form.html">Giving First Nomination Form</a>
              </li>
            </ul>
          </li>
          <li class="item-619">
            <a href="index.php/justice/affordable-housing.html">Affordable Housing</a>
          </li>
          <li class="item-620">
            <a href="index.php/justice/food-pantry.html">Food Pantry</a>
          </li>
          <li class="item-621">
            <a href="index.php/justice/blood-drive.html">Blood Drive</a>
          </li>
        </ul>
      </li>
      <li class="item-604 deeper parent">
        <a href="index.php/caring-congregation.html">Caring<br>
        Congregation<br></a>
        <ul>
          <li class="item-1105">
            <a href="https://fpgratitude.wordpress.com/">Gratitude Blog</a>
          </li>
          <li class="item-624 deeper parent">
            <a href="index.php/caring-congregation/lay-ministry.html">Lay Ministry</a>
            <ul>
              <li class="item-815">
                <a href="index.php/caring-congregation/lay-ministry/about-lay-ministry.html">About Lay Ministry</a>
              </li>
              <li class="item-631 parent">
                <a href="index.php/caring-congregation/lay-ministry/becoming-a-lay-minister.html">Becoming a Lay Minister</a>
              </li>
              <li class="item-625">
                <a href="index.php/caring-congregation/lay-ministry/wider-net-of-care.html">Wider Network of Care</a>
              </li>
            </ul>
          </li>
          <li class="item-629">
            <a href="index.php/caring-congregation/getting-married.html">Getting Married</a>
          </li>
          <li class="item-612">
            <a href="index.php/caring-congregation/child-dedication.html">Welcoming a Child</a>
          </li>
          <li class="item-622">
            <a href="index.php/caring-congregation/death-of-a-loved-one.html">Memorials and Funerals</a>
          </li>
          <li class="item-626">
            <a href="index.php/caring-congregation/prayer-shawl-ministry.html">Prayer Shawl Ministry</a>
          </li>
          <li class="item-628 deeper parent">
            <a href="index.php/caring-congregation/spoken-memorials.html">Spoken Memorials</a>
            <ul>
              <li class="item-645">
                <a href="index.php/caring-congregation/spoken-memorials/request-a-spoken-memorial.html">Request a Spoken Memorial</a>
              </li>
            </ul>
          </li>
          <li class="item-747 deeper parent">
            <a href="index.php/caring-congregation/remembrance-corner.html">Remembrance Corner</a>
            <ul>
              <li class="item-749">
                <a href="index.php/caring-congregation/remembrance-corner/engraved-pavers-order-form.html">Engraved Pavers Order Form</a>
              </li>
            </ul>
          </li>
          <li class="item-832 deeper parent">
            <a href="index.php/caring-congregation/memorial-garden.html">Memorial Garden</a>
            <ul>
              <li class="item-833">
                <a href="index.php/caring-congregation/memorial-garden/memorial-garden-form.html">Memorial Garden Form</a>
              </li>
            </ul>
          </li>
          <li class="item-949">
            <a href="index.php/caring-congregation/fpconnectionboard.html">FPConnectionBoard</a>
          </li>
        </ul>
      </li>
      <li class="item-510 deeper parent">
        <a href="index.php/congregationalworkings.html">Congregational<br>
        Workings<br></a>
        <ul>
          <li class="item-1230">
            <a href="index.php/congregationalworkings/volunteer-opportunities.html">Volunteering Opportunities</a>
          </li>
          <li class="item-736 deeper parent">
            <a href="index.php/congregationalworkings/groups-and-activities.html">Activities, Groups and Committees</a>
            <ul>
              <li class="item-1194">
                <a href="http://www.firstparish.info/PDFDownloads/FP_committees.pdf">List of Committees and Groups</a>
              </li>
              <li class="item-942 parent">
                <a href="index.php/congregationalworkings/groups-and-activities/parish-committee-info.html">Parish Committee</a>
              </li>
              <li class="item-983 parent">
                <a href="index.php/congregationalworkings/groups-and-activities/leadership-development-committee.html">Leadership Development Committee</a>
              </li>
              <li class="item-1037">
                <a href="index.php/congregationalworkings/groups-and-activities/property-committee.html">Property Committee</a>
              </li>
              <li class="item-1107">
                <a href="index.php/congregationalworkings/groups-and-activities/trustees-of-the-trust-fund.html">Trustees of the Trust Fund</a>
              </li>
              <li class="item-737 parent">
                <a href="index.php/congregationalworkings/groups-and-activities/alliance-program.html">The Alliance</a>
              </li>
              <li class="item-1113">
                <a href="index.php/congregationalworkings/groups-and-activities/covenant-groups.html">Covenant Groups</a>
              </li>
              <li class="item-641 parent">
                <a href="index.php/congregationalworkings/groups-and-activities/partnership-church.html">Partnership Church</a>
              </li>
              <li class="item-533">
                <a href="index.php/congregationalworkings/groups-and-activities/meditation-group.html">Meditation Group</a>
              </li>
              <li class="item-576">
                <a href="index.php/congregationalworkings/groups-and-activities/jewish-connections.html">Jewish Connections</a>
              </li>
              <li class="item-1013">
                <a href="index.php/congregationalworkings/groups-and-activities/neighborhood-groups.html">Neighborhood Groups</a>
              </li>
              <li class="item-1047">
                <a href="index.php/congregationalworkings/groups-and-activities/safety-committee.html">Safety Committee</a>
              </li>
            </ul>
          </li>
          <li class="item-1120">
            <a href="index.php/congregationalworkings/building-use-faq.html">Building Use FAQ</a>
          </li>
          <li class="item-773">
            <a href="http://www.firstparish.info/PDFDownloads/safeevacplan.pdf">Evacuation Plan</a>
          </li>
          <li class="item-1004">
            <a href="index.php/congregationalworkings/directory-and-database.html">Directory and Database</a>
          </li>
          <li class="item-850 deeper parent">
            <a href="index.php/congregationalworkings/policy-and-procedures-handbook.html">Policy and Procedures Handbook</a>
            <ul>
              <li class="item-1221 parent">
                <a href="index.php/congregationalworkings/policy-and-procedures-handbook/human-resources-and-personnel.html">Human Resources/Personnel</a>
              </li>
              <li class="item-1224 parent">
                <a href="index.php/congregationalworkings/policy-and-procedures-handbook/fpmission.html">Mission</a>
              </li>
              <li class="item-1225 parent">
                <a href="index.php/congregationalworkings/policy-and-procedures-handbook/fpgovernance.html">Governance</a>
              </li>
              <li class="item-1226 parent">
                <a href="index.php/congregationalworkings/policy-and-procedures-handbook/fpcommunications.html">Communications</a>
              </li>
              <li class="item-1227 parent">
                <a href="index.php/congregationalworkings/policy-and-procedures-handbook/fpfinancial.html">Financial</a>
              </li>
              <li class="item-1228 parent">
                <a href="index.php/congregationalworkings/policy-and-procedures-handbook/fpgeneraloperations.html">General Operations</a>
              </li>
            </ul>
          </li>
          <li class="item-1098">
            <a href="index.php/congregationalworkings/meeting-records.html">Meeting Records</a>
          </li>
          <li class="item-830">
            <a href="index.php/congregationalworkings/annual-reports.html">Annual Reports</a>
          </li>
          <li class="item-800 deeper parent">
            <a href="index.php/congregationalworkings/meetinghouse-campaign.html">Meetinghouse Campaign Archive</a>
            <ul>
              <li class="item-1128">
                <a href="index.php/congregationalworkings/meetinghouse-campaign/lead-paint-remediation-faq.html">Lead Paint Remediation FAQ</a>
              </li>
              <li class="item-964">
                <a href="http://www.firstparish.info/PDFDownloads/MeetinghouseDesign_FAQ.pdf">Meetinghouse Design FAQ</a>
              </li>
              <li class="item-988">
                <a href="index.php/congregationalworkings/meetinghouse-campaign/building-design-blog/blog.html">Building Design Blog</a>
              </li>
              <li class="item-785 parent">
                <a href="index.php/congregationalworkings/meetinghouse-campaign/what-we-re-trying-to-do.html">What We're Trying to Do</a>
              </li>
              <li class="item-789">
                <a href="index.php/congregationalworkings/meetinghouse-campaign/how-do-i-conribute.html">How Do I Contribute?</a>
              </li>
              <li class="item-790 parent">
                <a href="index.php/congregationalworkings/meetinghouse-campaign/how-much-should-i-give.html">How Much Should I Give?</a>
              </li>
              <li class="item-791 parent">
                <a href="index.php/congregationalworkings/meetinghouse-campaign/meetinghouse-campaign-history.html">Meetinghouse Campaign History</a>
              </li>
              <li class="item-686">
                <a href="http://www.firstparish.info/PDFDownloads/CaptralCampaignFAQ_December2012.pdf">Frequently Asked Questions</a>
              </li>
              <li class="item-809">
                <a href="http://www.firstparish.info/PDFDownloads/meetinghousecampaign_flyer.pdf">Meetinghouse Campaign Flyer</a>
              </li>
              <li class="item-836">
                <a href="index.php/congregationalworkings/meetinghouse-campaign/automatic-pledge-payments.html">Automatic Pledge Payments</a>
              </li>
              <li class="item-635 parent">
                <a href="index.php/congregationalworkings/meetinghouse-campaign/meetinghouse-br-campaign.html">Meetinghouse and<br>
                Stewardship Campaigns<br></a>
              </li>
              <li class="item-1026">
                <a href="index.php/congregationalworkings/meetinghouse-campaign/rededication-ceremony.html">Rededication Ceremony</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="item-801 deeper parent">
        <a href="index.php/stewardship-campaign.html">Stewardship<br>
        Campaign<br></a>
        <ul>
          <li class="item-970">
            <a href="index.php/stewardship-campaign/pledge-form.html">Pledge Form</a>
          </li>
          <li class="item-1259">
            <a href="index.php/stewardship-campaign/three-ways-to-pledge-and-pay.html">Three Ways to Pledge and Pay</a>
          </li>
          <li class="item-837">
            <a href="index.php/stewardship-campaign/automatic-pledge-payments.html">Automatic Pledge Payments</a>
          </li>
          <li class="item-806">
            <a href="index.php/stewardship-campaign/securities-donation.html">Securities Donation</a>
          </li>
          <li class="item-808">
            <a href="http://www.firstparish.info/PDFDownloads/stewardship%202017bro_v8.pdf">Stewardship Brochure</a>
          </li>
          <li class="item-805">
            <a href="index.php/stewardship-campaign/about-the-money.html">About the Money</a>
          </li>
          <li class="item-804">
            <a href="index.php/stewardship-campaign/how-much-should-i-give.html">How Much Should I Give?</a>
          </li>
        </ul>
      </li>
      <li class="item-605">
        <a href="index.php/staff-and-contacts.html">Staff and<br>
        Contacts<br></a>
      </li>
    </ul>
  </div>
</nav>
