<div class="art-layout-cell art-sidebar1">
  <div class="art-block clearfix">
    <div class="art-blockheader">
      <h3 class="t">Search</h3>
    </div>
    <div class="art-blockcontent">
      <form action="http://www.firstparish.info/index.php" class="art-search" method="post">
        <div class="search">
          <label for="mod-search-searchword">Search First Parish</label><input name="searchword" id="mod-search-searchword" maxlength="200" class="inputbox" type="text" size="200" value="Search ..." onblur="if (this.value=='') this.value='Search ...';" onfocus="if (this.value=='Search ...') this.value='';"><br>
          <input value="Enter" class="button art-search-button art-button" type="submit" onclick="this.form.searchword.focus();"> <input type="hidden" name="task" value="search"> <input type="hidden" name="option" value="com_search"> <input type="hidden" name="Itemid" value="435">
        </div>
      </form>
    </div>
  </div>
  <div class="art-block clearfix">
    <div class="art-blockheader">
      <h3 class="t">Quicklinks</h3>
    </div>
    <div class="art-blockcontent">
      <div class="custom">
        <table>
          <tbody>
            <tr>
              <td><img style="margin: 0px; border-style: none;" alt="pointer2" src="images/pointer2.png" height="24" width="13"></td>
              <td>
                <p style="font-size: 15px;"><a href="index.php/newcomers.html" style="text-decoration: none;">Checking out first parish?</a></p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr>
              </td>
            </tr>
            <tr>
              <td><img style="margin: 0px; border-style: none;" alt="pointer2" src="images/pointer2.png" height="24" width="13"></td>
              <td>
                <p style="font-size: 15px;"><a href="index.php/news-and-events/e-bulletin.html" style="text-decoration: none;">Church Happenings (E-Bulletin)</a></p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr>
              </td>
            </tr>
            <tr>
              <td><img style="margin: 0px; border-style: none;" alt="pointer2" src="images/pointer2.png" height="24" width="13"></td>
              <td>
                <p style="font-size: 15px;"><a href="index.php/education.html" style="text-decoration: none;">First Parish Calendar</a></p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr>
              </td>
            </tr>
            <tr>
              <td><img style="margin: 0px; border-style: none;" alt="pointer2" src="images/pointer2.png" height="24" width="13"></td>
              <td>
                <p style="font-size: 15px;"><a href="index.php/congregationalworkings/directory-and-database.html" style="text-decoration: none;">Member Login (Realm)</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="art-block clearfix">
    <div class="art-blockheader">
      <h3 class="t">Sunday Worship Service</h3>
    </div>
    <div class="art-blockcontent">
      <div class="custom">
        <p style="text-align: center;"><span style="color: #000000; font-size: 15px;">September 3 at 10 AM</span></p>
        <p style="text-align: center;"><a href="index.php/news-and-events/e-bulletin.html"><img src="images/hand_and_dragon_pjh3.jpg" width="192" height="165" alt="hand and dragon pjh3" style="border: 0px solid #000000;"></a></p>
        <p style="text-align: center;"><br>
        <span style="font-size: 15px;">"The Gift of Hands: Work, Art, and the Accidental Muse"<br>
        <br>
        Led by Woody Kay and Patricia Hawkins from First Parish, and Jessie Brown and Jonathan Gilbert of the Friends Meeting in Cambridge.<br></p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
  <div class="art-block clearfix">
    <h3>
      <img src="images/footerfacebookicon.png" style="vertical-align: middle; float: left;">
      <div style="padding-top: 1em;">Join Us on Facebook</div>
    </h3>
    <h3 style="clear: both; text-align: left;">
      <img src="images/spokenannouncements.jpg" style="vertical-align: middle; float: left;" width="32" height="32">
      <div style="padding-top: 0.5em;">Subscribe to our Weekly Newsletter</div>
    </h3>
  </div>
</div>
