<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
{% include head.html %}
<body>
  <div id="art-main">
    {% include header.html %}
    <div class="art-sheet clearfix">
      <div class="art-layout-wrapper">
        <div class="art-content-layout">
          <div class="art-content-layout-row">
            {% include sidebar.html %}
            <div class="art-layout-cell art-content">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
    <p class="art-page-footer"><span id="art-footnote-links"><a href="http://www.artisteer.com/?p=joomla_templates" target="_blank">Joomla template</a> created with Artisteer.</span></p>
  </div>
</body>
</html>
