<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
{% include head.html %}
<body>
  <div id="art-main">
    <header class="art-header">
      <div class="art-shapes"></div>
    </header>
    <nav class="art-nav">
      <div class="art-nav-inner">
        <ul class="art-hmenu">
          <li class="item-435 current active">
            <a class=" active" href="index-2.html">Home</a>
          </li>
          <li class="item-497 deeper parent">
            <a href="index.php/newcomers.html">Newcomers</a>
            <ul>
              <li class="item-659">
                <a href="index.php/newcomers/your-first-visit.html">Your First Visit</a>
              </li>
              <li class="item-1284">
                <a href="index.php/newcomers/history-of-first-parish.html">History of First Parish</a>
              </li>
              <li class="item-500 deeper parent">
                <a href="index.php/newcomers/uu.html">About Unitarian Universalism</a>
                <ul>
                  <li class="item-744">
                    <a href="index.php/newcomers/uu/what-we-believe.html">What We Believe</a>
                  </li>
                </ul>
              </li>
              <li class="item-499 deeper parent">
                <a href="index.php/newcomers/membership.html">Path to Membership</a>
                <ul>
                  <li class="item-998">
                    <a href="index.php/newcomers/membership/new-uu-class.html">New UU Class</a>
                  </li>
                </ul>
              </li>
              <li class="item-549">
                <a href="index.php/newcomers/our-location.html">Our Location</a>
              </li>
              <li class="item-554">
                <a href="http://firstparish.info/index.php/staff-and-contacts">Contact Us</a>
              </li>
            </ul>
          </li>
          <li class="item-535 deeper parent">
            <a href="index.php/news-and-events.html">News and<br>
            Events<br></a>
            <ul>
              <li class="item-538 deeper parent">
                <a href="index.php/news-and-events/e-bulletin.html">The E-Bulletin</a>
                <ul>
                  <li class="item-826">
                    <a href="index.php/news-and-events/e-bulletin/fully-displayed-text-e-bulletin.html">Fully Displayed Text E-Bulletin</a>
                  </li>
                  <li class="item-1038">
                    <a href="index.php/news-and-events/e-bulletin/e-bulletin-archive.html">E-Bulletin Archive</a>
                  </li>
                </ul>
              </li>
              <li class="item-936 deeper parent">
                <a href="index.php/news-and-events/ferry-beach.html">Ferry Beach 2017</a>
                <ul>
                  <li class="item-997">
                    <a href="index.php/news-and-events/ferry-beach/ferry-beach-pricing-and-accommodations.html">Pricing and Accommodations</a>
                  </li>
                  <li class="item-937">
                    <a href="index.php/news-and-events/ferry-beach/ferry-beach-registration-form.html">Ferry Beach Registration Form</a>
                  </li>
                  <li class="item-943">
                    <a href="index.php/news-and-events/ferry-beach/youth-permission-form.html">Sponsored Youth Permission Form</a>
                  </li>
                  <li class="item-944">
                    <a href="index.php/news-and-events/ferry-beach/ferry-beach-guidelines.html">Ferry Beach Guidelines</a>
                  </li>
                  <li class="item-945">
                    <a href="index.php/news-and-events/ferry-beach/ferry-beach-covenant.html">Ferry Beach Covenant</a>
                  </li>
                  <li class="item-995">
                    <a href="index.php/news-and-events/ferry-beach/ferry-beach-nearby-motels.html">Ferry Beach Nearby Motels</a>
                  </li>
                </ul>
              </li>
              <li class="item-1159 deeper parent">
                <a href="index.php/news-and-events/job-openings.html">Job Openings</a>
                <ul>
                  <li class="item-1299">
                    <a href="index.php/news-and-events/job-openings/sexton.html">Sexton</a>
                  </li>
                </ul>
              </li>
              <li class="item-543">
                <a href="index.php/news-and-events/calendar.html">Calendar</a>
              </li>
              <li class="item-545">
                <a href="index.php/news-and-events/annual-events.html">Annual Events</a>
              </li>
              <li class="item-607 deeper parent">
                <a href="index.php/news-and-events/the-spire.html">The Monthly Spire</a>
                <ul>
                  <li class="item-627">
                    <a href="index.php/news-and-events/the-spire/lives-we-share.html">Lives We Share</a>
                  </li>
                  <li class="item-714">
                    <a href="index.php/news-and-events/the-spire/spire-archive.html">Spire Archive</a>
                  </li>
                </ul>
              </li>
              <li class="item-1043 deeper parent">
                <a href="index.php/news-and-events/external-news-feeds">External News Feeds</a>
                <ul>
                  <li class="item-1044">
                    <a href="index.php/news-and-events/external-news-feeds/uu-news-stories.html">UU News Stories</a>
                  </li>
                  <li class="item-1045">
                    <a href="index.php/news-and-events/external-news-feeds/uu-mass-action-news-stories.html">UU Mass Action News Stories</a>
                  </li>
                </ul>
              </li>
              <li class="item-1254">
                <a href="index.php/news-and-events/women-s-march.html">Women's March</a>
              </li>
            </ul>
          </li>
          <li class="item-492 deeper parent">
            <a href="index.php/worship-music.html">Worship and<br>
            Music<br></a>
            <ul>
              <li class="item-608 deeper parent">
                <a href="index.php/worship-music/services.html">Worship Services</a>
                <ul>
                  <li class="item-581 parent">
                    <a href="index.php/worship-music/services/spoken-memorials.html">Spoken Memorials</a>
                  </li>
                  <li class="item-748">
                    <a href="index.php/worship-music/services/sunday-flowers-sign-up.html">Sunday Flowers Sign-Up</a>
                  </li>
                </ul>
              </li>
              <li class="item-609 deeper parent">
                <a href="index.php/worship-music/music.html">Music</a>
                <ul>
                  <li class="item-1001">
                    <a href="index.php/worship-music/music/music-staff.html">Music Staff</a>
                  </li>
                  <li class="item-976">
                    <a href="index.php/worship-music/music/children-s-choir.html">Children's Choir</a>
                  </li>
                  <li class="item-496">
                    <a href="index.php/worship-music/music/musicgroups.html">Music Groups</a>
                  </li>
                  <li class="item-849">
                    <a href="index.php/worship-music/music/music-centered-services.html">Music-Centered Services</a>
                  </li>
                  <li class="item-655">
                    <a href="index.php/worship-music/music/musical-instruments.html">Musical Instruments</a>
                  </li>
                  <li class="item-657 parent">
                    <a href="index.php/worship-music/music/musicians-list.html">Musicians List</a>
                  </li>
                  <li class="item-682 parent">
                    <a href="index.php/worship-music/music/musical-connections.html">Musical Connections</a>
                  </li>
                  <li class="item-660 parent">
                    <a href="index.php/worship-music/music/music-history.html">History of the Music Program</a>
                  </li>
                  <li class="item-925 parent">
                    <a href="index.php/worship-music/music/music-trips.html">Music Trips</a>
                  </li>
                </ul>
              </li>
              <li class="item-649 deeper parent">
                <a href="index.php/worship-music/worship-associates.html">Worship Associates</a>
                <ul>
                  <li class="item-650">
                    <a href="index.php/worship-music/worship-associates/worship-associates-application.html">Worship Associates Application</a>
                  </li>
                  <li class="item-1031">
                    <a href="index.php/worship-music/worship-associates/worship-associates-reference.html">Worship Associates Reference</a>
                  </li>
                </ul>
              </li>
              <li class="item-610 deeper parent">
                <a href="index.php/worship-music/sermons.html">Sermons</a>
                <ul>
                  <li class="item-752 parent">
                    <a href="index.php/worship-music/sermons/sermon-archive.html">Sermon Archive</a>
                  </li>
                </ul>
              </li>
              <li class="item-798">
                <a href="index.php/worship-music/first-parish-prays.html">First Parish Prays</a>
              </li>
            </ul>
          </li>
          <li class="item-479 deeper parent">
            <a href="index.php/education.html">Education</a>
            <ul>
              <li class="item-634 deeper parent">
                <a href="index.php/education/children-s-programs.html">Religious Education for Children</a>
                <ul>
                  <li class="item-824">
                    <a href="index.php/education/children-s-programs/re-announcements.html">This Week's RE Announcements</a>
                  </li>
                  <li class="item-751">
                    <a href="index.php/education/children-s-programs/re-calendar.html">RE Calendar</a>
                  </li>
                  <li class="item-639">
                    <a href="index.php/education/children-s-programs/re-curriculum.html">RE Curriculum</a>
                  </li>
                  <li class="item-485">
                    <a href="index.php/education/children-s-programs/for-teachers.html">For RE Teachers</a>
                  </li>
                  <li class="item-957">
                    <a href="index.php/education/children-s-programs/parent-resources.html">For Parents</a>
                  </li>
                  <li class="item-637">
                    <a href="index.php/education/children-s-programs/our-whole-lives-owl.html">Our Whole Lives (OWL)</a>
                  </li>
                  <li class="item-977">
                    <a href="index.php/worship-music/music/children-s-choir.html">Children's Choir</a>
                  </li>
                  <li class="item-636">
                    <a href="index.php/education/children-s-programs/coming-of-age.html">Coming of Age</a>
                  </li>
                </ul>
              </li>
              <li class="item-488 deeper parent">
                <a href="index.php/education/youth-programs.html">Youth Program</a>
                <ul>
                  <li class="item-491">
                    <a href="index.php/education/youth-programs/details.html">Youth Program Details</a>
                  </li>
                  <li class="item-825">
                    <a href="index.php/education/youth-programs/this-week-s-youth-group-news.html">This Week's Youth Group News</a>
                  </li>
                  <li class="item-948">
                    <a href="https://www.google.com/calendar/embed?src=nj3fh26o3n087nvs4i5shkf5q4@group.calendar.google.com&amp;ctz=America/New_York">Youth Group Calendar</a>
                  </li>
                  <li class="item-950">
                    <a href="index.php/education/youth-programs/parent-meeting-information.html">Parent Meeting Information</a>
                  </li>
                  <li class="item-952">
                    <a href="index.php/education/youth-programs/youth-group-newsletter.html">Youth Group Newsletter</a>
                  </li>
                </ul>
              </li>
              <li class="item-518 deeper parent">
                <a href="index.php/education/star.html">STAR Programs (adult education)</a>
                <ul>
                  <li class="item-1035">
                    <a href="index.php/education/star/aging-well-within-our-community.html">Aging Well Within Our Community</a>
                  </li>
                  <li class="item-523">
                    <a href="index.php/education/star/lectio-divina.html">Lectio Divina</a>
                  </li>
                </ul>
              </li>
              <li class="item-743">
                <a href="index.php/congregationalworkings/groups-and-activities/alliance-program.html">Alliance Programs</a>
              </li>
            </ul>
          </li>
          <li class="item-603 deeper parent">
            <a href="index.php/justice.html">Social Justice</a>
            <ul>
              <li class="item-1032">
                <a href="http://www.firstparish.info/PDFDownloads/HN_SJC_Committee_Charter_FY2014.pdf">Social Justice Charter</a>
              </li>
              <li class="item-1106">
                <a href="index.php/justice/social-justice-google-group.html">Social Justice Google Group</a>
              </li>
              <li class="item-1024">
                <a href="index.php/justice/social-justice-calendar.html">Social Justice Calendar</a>
              </li>
              <li class="item-1025">
                <a href="index.php/justice/social-justice-blog/blog.html">Social Justice Blog</a>
              </li>
              <li class="item-1030">
                <a href="index.php/justice/social-justice-slideshow.html">Social Justice Slideshow</a>
              </li>
              <li class="item-632">
                <a href="index.php/justice/social-justice-committee.html">Social Justice Committee</a>
              </li>
              <li class="item-740">
                <a href="index.php/justice/social-justice-opportunities.html">Social Justice Opportunities</a>
              </li>
              <li class="item-994">
                <a href="index.php/justice/pie-palace.html">Pie Palace</a>
              </li>
              <li class="item-831">
                <a href="index.php/justice/living-our-faith.html">Living Our Faith</a>
              </li>
              <li class="item-958">
                <a href="index.php/justice/shinn-service.html">Shinn Service</a>
              </li>
              <li class="item-1283">
                <a href="index.php/justice/racial-justice-coordinating-committee.html">Racial Justice Coordinating Committee</a>
              </li>
              <li class="item-616">
                <a href="index.php/justice/green-sanctuary.html">Green Sanctuary</a>
              </li>
              <li class="item-618 deeper parent">
                <a href="index.php/justice/diversity-inclusion-group.html">Diversity/Inclusion Group</a>
                <ul>
                  <li class="item-1145">
                    <a href="index.php/justice/diversity-inclusion-group/dig-calendar.html">DIG Calendar</a>
                  </li>
                </ul>
              </li>
              <li class="item-956">
                <a href="index.php/justice/mass-incarceration-working-group.html">Mass Incarceration Working Group</a>
              </li>
              <li class="item-688 deeper parent">
                <a href="index.php/justice/giving-first.html">Giving First</a>
                <ul>
                  <li class="item-746">
                    <a href="index.php/justice/giving-first/giving-first-nomination-form.html">Giving First Nomination Form</a>
                  </li>
                </ul>
              </li>
              <li class="item-619">
                <a href="index.php/justice/affordable-housing.html">Affordable Housing</a>
              </li>
              <li class="item-620">
                <a href="index.php/justice/food-pantry.html">Food Pantry</a>
              </li>
              <li class="item-621">
                <a href="index.php/justice/blood-drive.html">Blood Drive</a>
              </li>
            </ul>
          </li>
          <li class="item-603 deeper parent">
            <a href="index.php/justice.html">Racial Justice</a>
            <ul>
              <li class="item-1032">
                <a href="http://www.firstparish.info/PDFDownloads/HN_SJC_Committee_Charter_FY2014.pdf">Social Justice Charter</a>
              </li>
              <li class="item-1106">
                <a href="index.php/justice/social-justice-google-group.html">Social Justice Google Group</a>
              </li>
              <li class="item-1024">
                <a href="index.php/justice/social-justice-calendar.html">Social Justice Calendar</a>
              </li>
              <li class="item-1025">
                <a href="index.php/justice/social-justice-blog/blog.html">Social Justice Blog</a>
              </li>
              <li class="item-1030">
                <a href="index.php/justice/social-justice-slideshow.html">Social Justice Slideshow</a>
              </li>
              <li class="item-632">
                <a href="index.php/justice/social-justice-committee.html">Social Justice Committee</a>
              </li>
              <li class="item-740">
                <a href="index.php/justice/social-justice-opportunities.html">Social Justice Opportunities</a>
              </li>
              <li class="item-994">
                <a href="index.php/justice/pie-palace.html">Pie Palace</a>
              </li>
              <li class="item-831">
                <a href="index.php/justice/living-our-faith.html">Living Our Faith</a>
              </li>
              <li class="item-958">
                <a href="index.php/justice/shinn-service.html">Shinn Service</a>
              </li>
              <li class="item-1283">
                <a href="index.php/justice/racial-justice-coordinating-committee.html">Racial Justice Coordinating Committee</a>
              </li>
              <li class="item-616">
                <a href="index.php/justice/green-sanctuary.html">Green Sanctuary</a>
              </li>
              <li class="item-618 deeper parent">
                <a href="index.php/justice/diversity-inclusion-group.html">Diversity/Inclusion Group</a>
                <ul>
                  <li class="item-1145">
                    <a href="index.php/justice/diversity-inclusion-group/dig-calendar.html">DIG Calendar</a>
                  </li>
                </ul>
              </li>
              <li class="item-956">
                <a href="index.php/justice/mass-incarceration-working-group.html">Mass Incarceration Working Group</a>
              </li>
              <li class="item-688 deeper parent">
                <a href="index.php/justice/giving-first.html">Giving First</a>
                <ul>
                  <li class="item-746">
                    <a href="index.php/justice/giving-first/giving-first-nomination-form.html">Giving First Nomination Form</a>
                  </li>
                </ul>
              </li>
              <li class="item-619">
                <a href="index.php/justice/affordable-housing.html">Affordable Housing</a>
              </li>
              <li class="item-620">
                <a href="index.php/justice/food-pantry.html">Food Pantry</a>
              </li>
              <li class="item-621">
                <a href="index.php/justice/blood-drive.html">Blood Drive</a>
              </li>
            </ul>
          </li>
          <li class="item-604 deeper parent">
            <a href="index.php/caring-congregation.html">Caring<br>
            Congregation<br></a>
            <ul>
              <li class="item-1105">
                <a href="https://fpgratitude.wordpress.com/">Gratitude Blog</a>
              </li>
              <li class="item-624 deeper parent">
                <a href="index.php/caring-congregation/lay-ministry.html">Lay Ministry</a>
                <ul>
                  <li class="item-815">
                    <a href="index.php/caring-congregation/lay-ministry/about-lay-ministry.html">About Lay Ministry</a>
                  </li>
                  <li class="item-631 parent">
                    <a href="index.php/caring-congregation/lay-ministry/becoming-a-lay-minister.html">Becoming a Lay Minister</a>
                  </li>
                  <li class="item-625">
                    <a href="index.php/caring-congregation/lay-ministry/wider-net-of-care.html">Wider Network of Care</a>
                  </li>
                </ul>
              </li>
              <li class="item-629">
                <a href="index.php/caring-congregation/getting-married.html">Getting Married</a>
              </li>
              <li class="item-612">
                <a href="index.php/caring-congregation/child-dedication.html">Welcoming a Child</a>
              </li>
              <li class="item-622">
                <a href="index.php/caring-congregation/death-of-a-loved-one.html">Memorials and Funerals</a>
              </li>
              <li class="item-626">
                <a href="index.php/caring-congregation/prayer-shawl-ministry.html">Prayer Shawl Ministry</a>
              </li>
              <li class="item-628 deeper parent">
                <a href="index.php/caring-congregation/spoken-memorials.html">Spoken Memorials</a>
                <ul>
                  <li class="item-645">
                    <a href="index.php/caring-congregation/spoken-memorials/request-a-spoken-memorial.html">Request a Spoken Memorial</a>
                  </li>
                </ul>
              </li>
              <li class="item-747 deeper parent">
                <a href="index.php/caring-congregation/remembrance-corner.html">Remembrance Corner</a>
                <ul>
                  <li class="item-749">
                    <a href="index.php/caring-congregation/remembrance-corner/engraved-pavers-order-form.html">Engraved Pavers Order Form</a>
                  </li>
                </ul>
              </li>
              <li class="item-832 deeper parent">
                <a href="index.php/caring-congregation/memorial-garden.html">Memorial Garden</a>
                <ul>
                  <li class="item-833">
                    <a href="index.php/caring-congregation/memorial-garden/memorial-garden-form.html">Memorial Garden Form</a>
                  </li>
                </ul>
              </li>
              <li class="item-949">
                <a href="index.php/caring-congregation/fpconnectionboard.html">FPConnectionBoard</a>
              </li>
            </ul>
          </li>
          <li class="item-510 deeper parent">
            <a href="index.php/congregationalworkings.html">Congregational<br>
            Workings<br></a>
            <ul>
              <li class="item-1230">
                <a href="index.php/congregationalworkings/volunteer-opportunities.html">Volunteering Opportunities</a>
              </li>
              <li class="item-736 deeper parent">
                <a href="index.php/congregationalworkings/groups-and-activities.html">Activities, Groups and Committees</a>
                <ul>
                  <li class="item-1194">
                    <a href="http://www.firstparish.info/PDFDownloads/FP_committees.pdf">List of Committees and Groups</a>
                  </li>
                  <li class="item-942 parent">
                    <a href="index.php/congregationalworkings/groups-and-activities/parish-committee-info.html">Parish Committee</a>
                  </li>
                  <li class="item-983 parent">
                    <a href="index.php/congregationalworkings/groups-and-activities/leadership-development-committee.html">Leadership Development Committee</a>
                  </li>
                  <li class="item-1037">
                    <a href="index.php/congregationalworkings/groups-and-activities/property-committee.html">Property Committee</a>
                  </li>
                  <li class="item-1107">
                    <a href="index.php/congregationalworkings/groups-and-activities/trustees-of-the-trust-fund.html">Trustees of the Trust Fund</a>
                  </li>
                  <li class="item-737 parent">
                    <a href="index.php/congregationalworkings/groups-and-activities/alliance-program.html">The Alliance</a>
                  </li>
                  <li class="item-1113">
                    <a href="index.php/congregationalworkings/groups-and-activities/covenant-groups.html">Covenant Groups</a>
                  </li>
                  <li class="item-641 parent">
                    <a href="index.php/congregationalworkings/groups-and-activities/partnership-church.html">Partnership Church</a>
                  </li>
                  <li class="item-533">
                    <a href="index.php/congregationalworkings/groups-and-activities/meditation-group.html">Meditation Group</a>
                  </li>
                  <li class="item-576">
                    <a href="index.php/congregationalworkings/groups-and-activities/jewish-connections.html">Jewish Connections</a>
                  </li>
                  <li class="item-1013">
                    <a href="index.php/congregationalworkings/groups-and-activities/neighborhood-groups.html">Neighborhood Groups</a>
                  </li>
                  <li class="item-1047">
                    <a href="index.php/congregationalworkings/groups-and-activities/safety-committee.html">Safety Committee</a>
                  </li>
                </ul>
              </li>
              <li class="item-1120">
                <a href="index.php/congregationalworkings/building-use-faq.html">Building Use FAQ</a>
              </li>
              <li class="item-773">
                <a href="http://www.firstparish.info/PDFDownloads/safeevacplan.pdf">Evacuation Plan</a>
              </li>
              <li class="item-1004">
                <a href="index.php/congregationalworkings/directory-and-database.html">Directory and Database</a>
              </li>
              <li class="item-850 deeper parent">
                <a href="index.php/congregationalworkings/policy-and-procedures-handbook.html">Policy and Procedures Handbook</a>
                <ul>
                  <li class="item-1221 parent">
                    <a href="index.php/congregationalworkings/policy-and-procedures-handbook/human-resources-and-personnel.html">Human Resources/Personnel</a>
                  </li>
                  <li class="item-1224 parent">
                    <a href="index.php/congregationalworkings/policy-and-procedures-handbook/fpmission.html">Mission</a>
                  </li>
                  <li class="item-1225 parent">
                    <a href="index.php/congregationalworkings/policy-and-procedures-handbook/fpgovernance.html">Governance</a>
                  </li>
                  <li class="item-1226 parent">
                    <a href="index.php/congregationalworkings/policy-and-procedures-handbook/fpcommunications.html">Communications</a>
                  </li>
                  <li class="item-1227 parent">
                    <a href="index.php/congregationalworkings/policy-and-procedures-handbook/fpfinancial.html">Financial</a>
                  </li>
                  <li class="item-1228 parent">
                    <a href="index.php/congregationalworkings/policy-and-procedures-handbook/fpgeneraloperations.html">General Operations</a>
                  </li>
                </ul>
              </li>
              <li class="item-1098">
                <a href="index.php/congregationalworkings/meeting-records.html">Meeting Records</a>
              </li>
              <li class="item-830">
                <a href="index.php/congregationalworkings/annual-reports.html">Annual Reports</a>
              </li>
              <li class="item-800 deeper parent">
                <a href="index.php/congregationalworkings/meetinghouse-campaign.html">Meetinghouse Campaign Archive</a>
                <ul>
                  <li class="item-1128">
                    <a href="index.php/congregationalworkings/meetinghouse-campaign/lead-paint-remediation-faq.html">Lead Paint Remediation FAQ</a>
                  </li>
                  <li class="item-964">
                    <a href="http://www.firstparish.info/PDFDownloads/MeetinghouseDesign_FAQ.pdf">Meetinghouse Design FAQ</a>
                  </li>
                  <li class="item-988">
                    <a href="index.php/congregationalworkings/meetinghouse-campaign/building-design-blog/blog.html">Building Design Blog</a>
                  </li>
                  <li class="item-785 parent">
                    <a href="index.php/congregationalworkings/meetinghouse-campaign/what-we-re-trying-to-do.html">What We're Trying to Do</a>
                  </li>
                  <li class="item-789">
                    <a href="index.php/congregationalworkings/meetinghouse-campaign/how-do-i-conribute.html">How Do I Contribute?</a>
                  </li>
                  <li class="item-790 parent">
                    <a href="index.php/congregationalworkings/meetinghouse-campaign/how-much-should-i-give.html">How Much Should I Give?</a>
                  </li>
                  <li class="item-791 parent">
                    <a href="index.php/congregationalworkings/meetinghouse-campaign/meetinghouse-campaign-history.html">Meetinghouse Campaign History</a>
                  </li>
                  <li class="item-686">
                    <a href="http://www.firstparish.info/PDFDownloads/CaptralCampaignFAQ_December2012.pdf">Frequently Asked Questions</a>
                  </li>
                  <li class="item-809">
                    <a href="http://www.firstparish.info/PDFDownloads/meetinghousecampaign_flyer.pdf">Meetinghouse Campaign Flyer</a>
                  </li>
                  <li class="item-836">
                    <a href="index.php/congregationalworkings/meetinghouse-campaign/automatic-pledge-payments.html">Automatic Pledge Payments</a>
                  </li>
                  <li class="item-635 parent">
                    <a href="index.php/congregationalworkings/meetinghouse-campaign/meetinghouse-br-campaign.html">Meetinghouse and<br>
                    Stewardship Campaigns<br></a>
                  </li>
                  <li class="item-1026">
                    <a href="index.php/congregationalworkings/meetinghouse-campaign/rededication-ceremony.html">Rededication Ceremony</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="item-801 deeper parent">
            <a href="index.php/stewardship-campaign.html">Stewardship<br>
            Campaign<br></a>
            <ul>
              <li class="item-970">
                <a href="index.php/stewardship-campaign/pledge-form.html">Pledge Form</a>
              </li>
              <li class="item-1259">
                <a href="index.php/stewardship-campaign/three-ways-to-pledge-and-pay.html">Three Ways to Pledge and Pay</a>
              </li>
              <li class="item-837">
                <a href="index.php/stewardship-campaign/automatic-pledge-payments.html">Automatic Pledge Payments</a>
              </li>
              <li class="item-806">
                <a href="index.php/stewardship-campaign/securities-donation.html">Securities Donation</a>
              </li>
              <li class="item-808">
                <a href="http://www.firstparish.info/PDFDownloads/stewardship%202017bro_v8.pdf">Stewardship Brochure</a>
              </li>
              <li class="item-805">
                <a href="index.php/stewardship-campaign/about-the-money.html">About the Money</a>
              </li>
              <li class="item-804">
                <a href="index.php/stewardship-campaign/how-much-should-i-give.html">How Much Should I Give?</a>
              </li>
            </ul>
          </li>
          <li class="item-605">
            <a href="index.php/staff-and-contacts.html">Staff and<br>
            Contacts<br></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="art-sheet clearfix">
      <div class="art-layout-wrapper">
        <div class="art-content-layout">
          <div class="art-content-layout-row">
            <div class="art-layout-cell art-sidebar1">
              <div class="art-block clearfix">
                <div class="art-blockheader">
                  <h3 class="t">Search</h3>
                </div>
                <div class="art-blockcontent">
                  <form action="http://www.firstparish.info/index.php" class="art-search" method="post">
                    <div class="search">
                      <label for="mod-search-searchword">Search First Parish</label><input name="searchword" id="mod-search-searchword" maxlength="200" class="inputbox" type="text" size="200" value="Search ..." onblur="if (this.value=='') this.value='Search ...';" onfocus="if (this.value=='Search ...') this.value='';"><br>
                      <input value="Enter" class="button art-search-button art-button" type="submit" onclick="this.form.searchword.focus();"> <input type="hidden" name="task" value="search"> <input type="hidden" name="option" value="com_search"> <input type="hidden" name="Itemid" value="435">
                    </div>
                  </form>
                </div>
              </div>
              <div class="art-block clearfix">
                <div class="art-blockheader">
                  <h3 class="t">Quicklinks</h3>
                </div>
                <div class="art-blockcontent">
                  <div class="custom">
                    <table>
                      <tbody>
                        <tr>
                          <td><img style="margin: 0px; border-style: none;" alt="pointer2" src="images/pointer2.png" height="24" width="13"></td>
                          <td>
                            <p style="font-size: 15px;"><a href="index.php/newcomers.html" style="text-decoration: none;">Checking out first parish?</a></p>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <hr>
                          </td>
                        </tr>
                        <tr>
                          <td><img style="margin: 0px; border-style: none;" alt="pointer2" src="images/pointer2.png" height="24" width="13"></td>
                          <td>
                            <p style="font-size: 15px;"><a href="index.php/news-and-events/e-bulletin.html" style="text-decoration: none;">Church Happenings (E-Bulletin)</a></p>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <hr>
                          </td>
                        </tr>
                        <tr>
                          <td><img style="margin: 0px; border-style: none;" alt="pointer2" src="images/pointer2.png" height="24" width="13"></td>
                          <td>
                            <p style="font-size: 15px;"><a href="index.php/education.html" style="text-decoration: none;">First Parish Calendar</a></p>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <hr>
                          </td>
                        </tr>
                        <tr>
                          <td><img style="margin: 0px; border-style: none;" alt="pointer2" src="images/pointer2.png" height="24" width="13"></td>
                          <td>
                            <p style="font-size: 15px;"><a href="index.php/congregationalworkings/directory-and-database.html" style="text-decoration: none;">Member Login (Realm)</a></p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="art-block clearfix">
                <div class="art-blockheader">
                  <h3 class="t">Sunday Worship Service</h3>
                </div>
                <div class="art-blockcontent">
                  <div class="custom">
                    <p style="text-align: center;"><span style="color: #000000; font-size: 15px;">September 3 at 10 AM</span></p>
                    <p style="text-align: center;"><a href="index.php/news-and-events/e-bulletin.html"><img src="images/hand_and_dragon_pjh3.jpg" width="192" height="165" alt="hand and dragon pjh3" style="border: 0px solid #000000;"></a></p>
                    <p style="text-align: center;"><br>
                    <span style="font-size: 15px;">"The Gift of Hands: Work, Art, and the Accidental Muse"<br>
                    <br>
                    Led by Woody Kay and Patricia Hawkins from First Parish, and Jessie Brown and Jonathan Gilbert of the Friends Meeting in Cambridge.<br></p>
                    <p>&nbsp;</p>
                  </div>
                </div>
              </div>
              <div class="art-block clearfix">
                <h3>
                  <img src="images/footerfacebookicon.png" style="vertical-align: middle; float: left;">
                  <div style="padding-top: 1em;">Join Us on Facebook</div>
                </h3>
                <h3 style="clear: both; text-align: left;">
                  <img src="images/spokenannouncements.jpg" style="vertical-align: middle; float: left;" width="32" height="32">
                  <div style="padding-top: 0.5em;">Subscribe to our Weekly Newsletter</div>
                </h3>
              </div>
            </div>
            <div class="art-layout-cell art-content">
              <article class="art-post">
                <div class="art-postcontent clearfix">
                  <div id="showplus_images_showplus_slideshow" class="showplus-noscript showplus-left showplus-clear">
                    <div class="showplus">
                      <ul class="showplus-images">
                        <li><img src="images/slideshow/01_welcomingtoAll_2.png" alt=""></li>
                        <li><img src="images/slideshow/02_calledtoLove_2.png" alt=""></li>
                        <li><img src="images/slideshow/03_livingourFaith_2.png" alt=""></li>
                        <li><img src="images/slideshow/04_spiritualJourneys_2.png" alt=""></li>
                        <li><img src="images/slideshow/05_upheldbyJoy_2.png" alt=""></li>
                        <li><img src="images/slideshow/06_christmaseveservice.jpg" alt=""></li>
                        <li><img src="images/slideshow/07_timeforallages.jpg" alt=""></li>
                        <li><img src="images/slideshow/08_FirstParishRededication.jpg" alt=""></li>
                        <li><img src="images/slideshow/09_womensmarch.jpg" alt=""></li>
                        <li><img src="images/slideshow/10_womensmarch.jpg" alt=""></li>
                        <li><img src="images/slideshow/11_drawingthecircle.jpg" alt=""></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <article class="art-post art-messages">
                <div class="art-postcontent clearfix">
                  <div id="system-message-container"></div>
                </div>
              </article>
              <div class="blog-featured">
                <div class="items-leading">
                  <div class="leading-0">
                    <article class="art-post">
                      <div class="art-postcontent clearfix">
                        <div class="art-article">
                          <h1>Whoever you are, you are welcome!</h1>
                          <p style="text-align: left;">Unitarian Universalism celebrates the inherent worth and dignity of all people. First Parish is truly defined by our mission statement.</p>
                          <blockquote>
                            We choose to be a liberal religious community, welcoming to all. We encourage each other on our spiritual journeys, support one another through the changes in our lives, and challenge the excesses and injustices of our time. Called to love and upheld by joy, we live our faith.
                          </blockquote>
                          <p style="text-align: left;">The over 400 members of First Parish gather from many different walks of life. We build community and friendships, single or coupled, across race, ethnicity, gender-identity/expression, sexual orientation, income, occupation, age, ability, and belief(s)/non-belief.</p>
                          <p style="text-align: left;">Our vibrant <a href="http://www.firstparish.info/index.php/education">religious education program</a>, including an active youth group and children's program, is the largest Unitarian Universalist religious education program in New England and we are consistently humbled and amazed by our youths' accomplishments.</p>
                          <p style="text-align: left;">First Parish members are incredibly dedicated to social justice causes. Among our social justice efforts:</p>
                          <ul>
                            <li>we support and house asylum seekers</li>
                            <li>we work for legislation combating mass incarceration</li>
                            <li>we challenge our unconscious biases and fight against institutional racism both within our congregation and outside our walls</li>
                            <li>we value sustainable living, are proud of our solar panels</li>
                            <li>we support accessibility in our building</li>
                          </ul>
                          <p>Music is a powerful part of our Sunday services. Our congregation enjoys multiple vocal choirs, a woodwind ensemble, a children's choir and a bell choir along with solo performers of every instrument. The music is performed by the talented, multi-generational, musicians in our congregation, providing diversity and bringing us together.</p>
                          <p>Located in the center of Arlington, we have been around since the founding of the town. Through the generations we have stood for progressive reform. Learn more about <a href="http://www.firstparish.info/index.php/newcomers/history-of-first-parish">First Parish's long, rich history</a>.</p>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div><!-- begin nostyle -->
              <div class="art-content-layout">
                <div class="art-content-layout-row">
                  <div class="art-layout-cell" style="width: 100%;">
                    <article class="art-post">
                      <div class="art-postcontent clearfix">
                        <div class="allmode-box allmode-default">
                          <div class="allmode-itemsbox">
                            <div class="allmode-item" style="border-top: none;">
                              <div class="allmode-text">
                                <hr style="align: center; width: 94%; color: #4f634f;">
                                <p style="text-align: center; font-size: 1.2em;"><em><span style="color: #003366;">Please visit the</span></em> <a href="index.php/news-and-events/e-bulletin.html"><span style="color: #0000ff;"><span style="color: #0000ff;">Church Happenings (E-Bulletin)</span></span></a> <em><span style="color: #003300;">to learn about<br>
                                recent news and upcoming events at First Parish!</span></em></p>
                                <hr style="align: center; width: 94%; color: #4f634f;">
                              </div>
                            </div>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <div class="allmode-item" style="border-top: none;">
                              <div class="allmode-text">
                                <div style="max-width: 600px;">
                                  <p><img style="border: 0px solid #000000; margin: 0px 7px 7px 0px; float: left;" alt="ferrybeach" src="images/blm_banner.jpg" valign="top" height="112" width="150"></p>
                                  <p><a href="index.php/news-and-events/e-bulletin/1442-ferrybeach.html"><span style="font-size: 1.4em; color: #0000ff;">Meeting Space for People of Color</span></a></p>
                                  <div style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 1em;">
                                    <p>Because of the continuing injustice and violence disproportionately faced by people of color, we affirm that Black Lives Matter.</p>
                                    <p>In keeping with <a href="http://www.blacklivesuu.com/uu-support-for-black-organizers">Black Lives UU best practices</a>, First Parish offers free meeting space for organizations run by people of color such as Black Lives Matter, CAIRS, etc.</p>
                                    <p>Visit <a href="index.php/news-and-events/ferry-beach.html">here</a> to inquire.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="allmode-item">
                              <div class="allmode-text">
                                <div style="max-width: 600px;">
                                  <p><img style="border: 0px solid #000000; margin: 0px 7px 7px 0px; float: left;" alt="annualreport2017" src="images/nowmorethanever.jpg" valign="top" height="110" width="150"></p>
                                  <p><a href="index.php/news-and-events/e-bulletin/1431-annual-meeting.html"><span style="font-size: 1.4em; color: #0000ff;"><strong>What Does it Mean to be UU?</strong></span></a></p>
                                  <div style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 1em;">
                                    <p>We are <a href="http://www.uua.org/beliefs/who-we-are/all-ages">people of all ages</a>, <a href="http://www.uua.org/beliefs/who-we-are/backgrounds">people of many backgrounds</a>, and <a href="http://www.uua.org/beliefs/what-we-believe/beliefs">people of many beliefs</a>. We are brave, curious and compassionate thinkers and doers. We create spirituality and community beyond boundaries, working for more justice and more love in our own lives and in the world.</p>
                                    <p style="line-height: 0.5em;">&nbsp;</p>
                                    <p>Unitarian Universalism affirms and promotes seven <a href="http://www.uua.org/beliefs/what-we-believe/principles">Principles</a>, grounded in the humanistic teachings of the world's religions. Our spirituality is unbounded, drawing from&nbsp;scripture and science, nature and philosophy, personal experience and ancient tradition as described in our six <a href="http://www.uua.org/beliefs/what-we-believe/sources">Sources</a>.
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="allmode-item">
                              <div class="allmode-text">
                                <div style="max-width: 600px;">
                                  <p><img style="border: 0px solid #000000; margin: 0px 7px 7px 0px; float: left;" alt="blm banner" src="images/fpbanner.jpg" valign="top" width="150" height="110"></p>
                                  <p><a href="index.php/news-and-events/e-bulletin/1197-banner-2.html"><span style="color: #0000ff; font-size: 1.4em;"><strong>We are a Welcoming Congregation</strong></span></a></p>
                                  <div style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 1em;">
                                    <p>Several years ago, our congregation went through the formal process of becoming a <a href="http://www.uua.org/lgbtq/welcoming/program" target="_blank">Welcoming Congregation</a>. In short, we believe in creating a welcoming community for all regardless of gender identity and/or sexual orientation.</p>
                                    <p>Unitarians support equality, respect, and dignity for all, regardless of gender identity, sexual orientation, class or citizenship status, race, physical ability, or other important aspects of identity. Much of this social justice work takes place through <a href="http://www.standingonthesideoflove.org/lgbtq-equity/" target="_blank">Standing on the Side of Love</a>.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="art-footer">
        <!-- begin nostyle -->
        <div class="art-nostyle">
          <!-- begin nostyle content -->
          <div class="custom">
            <p style="font-size: 14px; text-align: center;">630 MASSACHUSETTS AVENUE &nbsp; ♦&nbsp;&nbsp; ARLINGTON, MASSACHUSETTS 02476 &nbsp; ♦&nbsp;&nbsp; 781-648-3799</p>
            <p style="font-size: 14px; text-align: center;">Copyright 2017 First Parish Unitarian Universalist of Arlington</p>
            <p style="font-size: 14px; text-align: center;"><span style="color: #0000ff;"><a href="index.php/component/users/index015e.html?view=login"><span style="color: #0000ff;">Editor log-in &amp; log-out</span></a></span></p>
          </div><!-- end nostyle content -->
        </div><!-- end nostyle -->
      </footer>
    </div>
    <p class="art-page-footer"><span id="art-footnote-links"><a href="http://www.artisteer.com/?p=joomla_templates" target="_blank">Joomla template</a> created with Artisteer.</span></p>
  </div><!-- Mirrored from www.firstparish.info/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Aug 2017 16:29:43 GMT -->
</body>
</html>
