<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
{% include head.html %}
<body>
  <div id="art-main">
    {% include header.html %}
    <div class="art-sheet clearfix">
      <div class="art-layout-wrapper">
        <div class="art-content-layout">
          <div class="art-content-layout-row">
            {% include sidebar.html %}
            <div class="art-layout-cell art-content">
              <article class="art-post">
                <div class="art-postcontent clearfix">
                  <div id="showplus_images_showplus_slideshow" class="showplus-noscript showplus-left showplus-clear">
                    <div class="showplus">
                      <ul class="showplus-images">
                        <li><img src="images/slideshow/01_welcomingtoAll_2.png" alt=""></li>
                        <li><img src="images/slideshow/02_calledtoLove_2.png" alt=""></li>
                        <li><img src="images/slideshow/03_livingourFaith_2.png" alt=""></li>
                        <li><img src="images/slideshow/04_spiritualJourneys_2.png" alt=""></li>
                        <li><img src="images/slideshow/05_upheldbyJoy_2.png" alt=""></li>
                        <li><img src="images/slideshow/06_christmaseveservice.jpg" alt=""></li>
                        <li><img src="images/slideshow/07_timeforallages.jpg" alt=""></li>
                        <li><img src="images/slideshow/08_FirstParishRededication.jpg" alt=""></li>
                        <li><img src="images/slideshow/09_womensmarch.jpg" alt=""></li>
                        <li><img src="images/slideshow/10_womensmarch.jpg" alt=""></li>
                        <li><img src="images/slideshow/11_drawingthecircle.jpg" alt=""></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <article class="art-post art-messages">
                <div class="art-postcontent clearfix">
                  <div id="system-message-container"></div>
                </div>
              </article>
              <div class="blog-featured">
                <div class="items-leading">
                  <div class="leading-0">
                    <article class="art-post">
                      <div class="art-postcontent clearfix">
                        <div class="art-article">
                          <h1>Whoever you are, you are welcome!</h1>
                          <p style="text-align: left;">Unitarian Universalism celebrates the inherent worth and dignity of all people. First Parish is truly defined by our mission statement.</p>
                          <blockquote>
                            We choose to be a liberal religious community, welcoming to all. We encourage each other on our spiritual journeys, support one another through the changes in our lives, and challenge the excesses and injustices of our time. Called to love and upheld by joy, we live our faith.
                          </blockquote>
                          <p style="text-align: left;">The over 400 members of First Parish gather from many different walks of life. We build community and friendships, single or coupled, across race, ethnicity, gender-identity/expression, sexual orientation, income, occupation, age, ability, and belief(s)/non-belief.</p>
                          <p style="text-align: left;">Our vibrant <a href="http://www.firstparish.info/index.php/education">religious education program</a>, including an active youth group and children's program, is the largest Unitarian Universalist religious education program in New England and we are consistently humbled and amazed by our youths' accomplishments.</p>
                          <p style="text-align: left;">First Parish members are incredibly dedicated to social justice causes. Among our social justice efforts:</p>
                          <ul>
                            <li>we support and house asylum seekers</li>
                            <li>we work for legislation combating mass incarceration</li>
                            <li>we challenge our unconscious biases and fight against institutional racism both within our congregation and outside our walls</li>
                            <li>we value sustainable living, are proud of our solar panels</li>
                            <li>we support accessibility in our building</li>
                          </ul>
                          <p>Music is a powerful part of our Sunday services. Our congregation enjoys multiple vocal choirs, a woodwind ensemble, a children's choir and a bell choir along with solo performers of every instrument. The music is performed by the talented, multi-generational, musicians in our congregation, providing diversity and bringing us together.</p>
                          <p>Located in the center of Arlington, we have been around since the founding of the town. Through the generations we have stood for progressive reform. Learn more about <a href="http://www.firstparish.info/index.php/newcomers/history-of-first-parish">First Parish's long, rich history</a>.</p>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div><!-- begin nostyle -->
              <div class="art-content-layout">
                <div class="art-content-layout-row">
                  <div class="art-layout-cell" style="width: 100%;">
                    <article class="art-post">
                      <div class="art-postcontent clearfix">
                        <div class="allmode-box allmode-default">
                          <div class="allmode-itemsbox">
                            <div class="allmode-item" style="border-top: none;">
                              <div class="allmode-text">
                                <hr style="align: center; width: 94%; color: #4f634f;">
                                <p style="text-align: center; font-size: 1.2em;"><em><span style="color: #003366;">Please visit the</span></em> <a href="index.php/news-and-events/e-bulletin.html"><span style="color: #0000ff;"><span style="color: #0000ff;">Church Happenings (E-Bulletin)</span></span></a> <em><span style="color: #003300;">to learn about<br>
                                recent news and upcoming events at First Parish!</span></em></p>
                                <hr style="align: center; width: 94%; color: #4f634f;">
                              </div>
                            </div>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <div class="allmode-item" style="border-top: none;">
                              <div class="allmode-text">
                                <div style="max-width: 600px;">
                                  <p><img style="border: 0px solid #000000; margin: 0px 7px 7px 0px; float: left;" alt="ferrybeach" src="images/blm_banner.jpg" valign="top" height="112" width="150"></p>
                                  <p><a href="index.php/news-and-events/e-bulletin/1442-ferrybeach.html"><span style="font-size: 1.4em; color: #0000ff;">Meeting Space for People of Color</span></a></p>
                                  <div style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 1em;">
                                    <p>Because of the continuing injustice and violence disproportionately faced by people of color, we affirm that Black Lives Matter.</p>
                                    <p>In keeping with <a href="http://www.blacklivesuu.com/uu-support-for-black-organizers">Black Lives UU best practices</a>, First Parish offers free meeting space for organizations run by people of color such as Black Lives Matter, CAIRS, etc.</p>
                                    <p>Visit <a href="index.php/news-and-events/ferry-beach.html">here</a> to inquire.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="allmode-item">
                              <div class="allmode-text">
                                <div style="max-width: 600px;">
                                  <p><img style="border: 0px solid #000000; margin: 0px 7px 7px 0px; float: left;" alt="annualreport2017" src="images/nowmorethanever.jpg" valign="top" height="110" width="150"></p>
                                  <p><a href="index.php/news-and-events/e-bulletin/1431-annual-meeting.html"><span style="font-size: 1.4em; color: #0000ff;"><strong>What Does it Mean to be UU?</strong></span></a></p>
                                  <div style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 1em;">
                                    <p>We are <a href="http://www.uua.org/beliefs/who-we-are/all-ages">people of all ages</a>, <a href="http://www.uua.org/beliefs/who-we-are/backgrounds">people of many backgrounds</a>, and <a href="http://www.uua.org/beliefs/what-we-believe/beliefs">people of many beliefs</a>. We are brave, curious and compassionate thinkers and doers. We create spirituality and community beyond boundaries, working for more justice and more love in our own lives and in the world.</p>
                                    <p style="line-height: 0.5em;">&nbsp;</p>
                                    <p>Unitarian Universalism affirms and promotes seven <a href="http://www.uua.org/beliefs/what-we-believe/principles">Principles</a>, grounded in the humanistic teachings of the world's religions. Our spirituality is unbounded, drawing from&nbsp;scripture and science, nature and philosophy, personal experience and ancient tradition as described in our six <a href="http://www.uua.org/beliefs/what-we-believe/sources">Sources</a>.
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="allmode-item">
                              <div class="allmode-text">
                                <div style="max-width: 600px;">
                                  <p><img style="border: 0px solid #000000; margin: 0px 7px 7px 0px; float: left;" alt="blm banner" src="images/fpbanner.jpg" valign="top" width="150" height="110"></p>
                                  <p><a href="index.php/news-and-events/e-bulletin/1197-banner-2.html"><span style="color: #0000ff; font-size: 1.4em;"><strong>We are a Welcoming Congregation</strong></span></a></p>
                                  <div style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 1em;">
                                    <p>Several years ago, our congregation went through the formal process of becoming a <a href="http://www.uua.org/lgbtq/welcoming/program" target="_blank">Welcoming Congregation</a>. In short, we believe in creating a welcoming community for all regardless of gender identity and/or sexual orientation.</p>
                                    <p>Unitarians support equality, respect, and dignity for all, regardless of gender identity, sexual orientation, class or citizenship status, race, physical ability, or other important aspects of identity. Much of this social justice work takes place through <a href="http://www.standingonthesideoflove.org/lgbtq-equity/" target="_blank">Standing on the Side of Love</a>.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
    <p class="art-page-footer"><span id="art-footnote-links"><a href="http://www.artisteer.com/?p=joomla_templates" target="_blank">Joomla template</a> created with Artisteer.</span></p>
  </div>
</body>
</html>
